.top-container {
  background-color: rgb(55, 161, 242);
  width: 100%;
  height: 60%;
  padding-top: 30%;
  position: absolute;
}

.twt-icon {
  font-size: 90px;
  margin-top: 50px;
  margin-bottom: 50px;
  color: rgb(55, 161, 242);
}

.twt-input-text {
  position: relative;
  margin-top: 3%;
}

.twt-input-text input {
  width: 300px;
  height: 40px;
  border: 0;
  border-radius: 15px;
  border: 2px solid rgb(38, 111, 167);
  font-size: 14px;
  padding: 26px 0px 26px 45px;
  margin: auto;
  color: rgb(35, 51, 76);
}

.twt-input-text i {
  position: absolute;
  top: 30%;
  left: 28px;
  border-radius: 15px;
  font-size: 21px;
  color: rgb(55, 161, 242);
  transition: all ease-in-out 0.2s;
}

.twt-input-text label {
  color:#999;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left: 10px;
  top: 10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

.twt-input-text.select input {
  border: 2px solid rgb(62, 170, 252);
  transition: all ease-in-out 0.2s;
}

.twt-input-text input:focus ~ label, .twt-input-text input:valid ~ label 		{
  top: -24px;
  font-size: 18px;
  color: #007bff85;
}

/* active state */

.twt-avatar {
  margin-top: 60px;
  margin-bottom: 60px;
  height: 128px;
  width: 128px;
  overflow: auto;
  border-radius: 100px;
  align-self: center;
  object-fit: cover;
}

.select .twt-avatar {
  border: rgb(35, 51, 76) 1px solid;
}

.twt-btn {
  padding: 0px 0px;
  height: 48px;
  color: #fff;
  border: 0 none;
  font-size: 22px;
  font-weight: 500;
  color: #202129;
  background-color: #edeeee;
  line-height: 18px;
}

.twt-btn.twt-btn-grey {
  width: 293px;
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
  border: 1px solid rgb(120, 120, 120);
  color: rgb(120, 120, 120);
  background-color: rgb(200, 200, 200);
  border-radius: 100px;
  font-weight: 100;
  font-size: 14px;
  transition: 0.2s ease all;
}

.twt-btn.twt-btn-blue {
  width: 293px;
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
  border: 1px solid rgb(55, 161, 242);
  color: rgb(55, 161, 242);
  background-color: white;
  border-radius: 100px;
  font-weight: 100;
  font-size: 14px;
  transition: 0.2s ease all;
}

.twt-btn.twt-btn-blue2 {
  width: 293px;
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
  border: 1px solid rgb(55, 161, 242);
  color: rgb(55, 161, 242);
  background-color: white;
  border-radius: 100px;
  font-weight: 100;
  font-size: 14px;
  transition: 0.2s ease all;
}

.twt-btn.twt-btn-red {
  width: 293px;
  margin: auto;
  margin-bottom: 50px;
  text-align: center;
  border: 1px solid #ee3838;
  color: #ee3838;
  background-color: white;
  border-radius: 100px;
  font-weight: 100;
  font-size: 14px;
  transition: 0.2s ease all;
}

.select .twt-btn.twt-btn-blue {
  background-color: rgb(55, 161, 242);
  color: white;
  border: none;
  transition: 0.2s ease all;
}

.select .twt-btn.twt-btn-blue2 {
  background-color: rgb(32, 95, 143);
  color: white;
  border: none;
  transition: 0.2s ease all;
}

.select .twt-btn.twt-btn-red {
  background-color: #ff0000;
  color: white;
  border: none;
  transition: 0.2s ease all;
}

.select .twt-btn.twt-btn-grey {
  background-color: rgb(110, 118, 125);
  color: white;
  border: none;
  transition: 0.2s ease all;
}