@font-face {
  font-family: SanFrancisco;
  src: url("/html/static/fonts/SF-UI-Display-Regular.otf") format("opentype");
}

body {
  font-size: 20px;
  margin: 0;
  padding: 0;
  /* background-image: url("https://cdn.discordapp.com/attachments/848629680655433738/850852468953841664/screenshot.jpg"); */
  /* background-color: rgba(255, 255, 255, 0.3); */
  /* background-blend-mode: lighten; */
}

.phone_infoBare {
  height: 24px;
}

.phone_app {
  height: 739px;
  width: 330px;
  top: 4px;
  display: flex;
  flex-direction: column;
}

.phone_content {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.phone_wrapper {
  position: absolute;
  bottom: 0vh;
  right: 0vh;
  width: 500px;
  height: 1000px;
  background-size: cover;
}

.phone_coque {
  position: absolute;
  z-index: 999;
  width: 394px;
  height: 800px;
  top: 71px;
  left: 15px;
  pointer-events: none;
  background-size: cover;
  background-repeat: no-repeat;
}

.phone_screen {
  overflow: hidden;
  position: absolute;
  background-color: white;

  width: 330px;
  height: 742px;

  bottom: 100px;
  left: 48px;
  right: 50px;
  top: 100px;

  display: flex;
  border-radius: 6px;
}

.phone_fullscreen_img {
  position: fixed;
  z-index: 999;
  background-color: rgba(20, 20, 20, 0.8);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone_fullscreen_img img {
  display: flex;
  max-width: 90vw;
  max-height: 95vh;
  border-radius: 50px;
  border-style: solid;
}

.video-recorder-canvas {
  position: absolute;
  top: 250px;
  left: 350px;
  width: 500px;
  height: 680px;
  background-color: #000000e0;
  border-bottom: solid 2px black;
}

* {
  font-family: SanFrancisco;
  letter-spacing: 0.2pt;

  font-weight: normal;
  /* font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif; */
  /* font-weight: 100; */
  box-sizing: border-box;
  font-size: 19px;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

*::-webkit-scrollbar {
  width: 3px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #666;
}