@font-face {
  font-family: SanFrancisco;
  src: url("/html/static/fonts/SF-UI-Display-Regular.otf") format("opentype");
}

body {
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.phone_infoBare {
  height: 24px;
}

.phone_app {
  height: 739px;
  width: 334px;
  top: 4px;
  display: flex;
  flex-direction: column;
}

.phone_title {
  position: relative;
  /* font-weight: 300; */
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; */
  margin-top: 4px;
  color: black;
  background-color: #e9e9eb;
  height: 64px;
  /* line-height: 10px; */
  /* font-size: 28px; */
}

.phone_content {
  height: 100%;
  width: 104%;
  overflow-y: auto;
}

.phone_wrapper {
  position: absolute;
  bottom: 0vh;
  right: 0vh;
  width: 500px;
  height: 1000px;
  background-size: cover;
}

.phone_coque {
  position: absolute;
  z-index: 999;
  width: 394px;
  height: 800px;
  top: 71px;
  left: 15px;
  pointer-events:none;
  background-size: cover;
  background-repeat: no-repeat;
}

.phone_screen {
  overflow: hidden;
  position: absolute;
  background-color: white;
  width: 330px;
  height: 742px;
  bottom: 100px;
  left: 48px;
  right: 50px;
  top: 100px;
  display: flex;
  border-radius: 6px;
}

* {
  font-family: SanFrancisco;
  letter-spacing: 0.2pt;

  font-weight: normal;
  /* font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif; */
  /* font-weight: 100; */
  box-sizing: border-box;
  font-size: 19px;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

*::-webkit-scrollbar {
  width: 3px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #666;
}